body{
    font-family:    $font-primary;
    font-weight:    $font-weight;
    font-size:      $font-size;
    line-height:    $line-height;

    color:          $color-font-primary;
    background:     $color-background;

    margin-bottom: 250px;
}