    /**
     * subsection: Fonts
     * ----------------------------------------
     */

    $font-primary:          'Rubik', sans-serif;
    $font-weight:           300;
    $font-size:             15px;
    $line-height:           24px;

    /**
     * subsection: Colors
     * ----------------------------------------
     */

    $color-primary:         #215398;
    $color-secondary:       #F1F6FC;
    $color-background:      #DDE7F4;

    $color-font-primary:    #2D3236;
    $color-font-secondary:  #808080;

    /**
     * subsection: General
     * ----------------------------------------
     */

    $container-width:       1205px; // 1170px;
    $container-padding:     15px;

    $slider-width: 1056px;